<div class="card" *ngFor="let product of productArr">
  <div class="card-body">
    <h5>{{ product.productName }}</h5>
    <p>{{ product.prodDescription }}</p>
    <h6>{{ product.price }}</h6>
    <button class="btn btn-primary" (click)="onAddproducts(product)">
      Add To Cart
    </button>
  </div>
</div>

<h6 (click)="onCart()" class="mt-4">See Here your Cart Products</h6>
<div class="p-3 cartProducts" *ngIf="addCart">
  <button class="p-3 products">Add to Cart Product</button>

  <div class="card" *ngFor="let product of addCartArr">
    <div class="card-body">
      <h5>{{ product.productName }}</h5>
      <p>{{ product.prodDescription }}</p>
      <h6>{{ product.price }}</h6>
      <button class="btn btn-danger" (click)="onRemove(product)">Remove</button>
    </div>
  </div>
</div>
